name: List S3 Buckets via Britive

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  list-s3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: AWS Actions
        uses: aws-actions/setup-sam@v2
        with:
          version: 1.59.0
          
      - name: Install pybritive
        run: pip3 install pybritive

      - name: Configure and Checkout Britive Profile
        run: |
          pybritive configure tenant --tenant demo --format json --no-prompt
          pybritive configure global --tenant demo --format json --no-prompt
          pybritive configure update profile-aliases default "AWS SE Demo/696226360299 (se-demo)/S3 Bucket Admin"
          cat ~/.britive/pybritive.config
          aws --version

          mkdir -p ~/.aws
          cat << EOF > ~/.aws/credentials
          [default]
          credential_process=pybritive checkout default -m awscredentialprocess -P github
          region=us-west-2
          EOF
          aws sts get-caller-identity

      - name: List S3 Buckets
        run: aws s3 ls

      - name: Check In Britive Profile
        run: pybritive checkin default -P github
