name: List S3 Buckets via Britive

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  list-s3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install pybritive
        run: pip3 install pybritive

      - name: Configure and Checkout Britive Profile
        run: |
          mkdir -p ~/.aws
          pybritive configure tenant --tenant demo --no-prompt
          pybritive configure global --tenant demo --format json --no-prompt
          pybritive configure update profile-aliases default "AWS/123750444551 (Sigma Stage)/AWS Creative Profile - S3 Full Access"
          cat << EOF > ~/.aws/credentials
          [default]
          credential_process=pybritive checkout default -m awscredentialprocess -P github-britive
          EOF
          aws sts get-caller-identity

      - name: List S3 Buckets
        run: aws s3 ls

      - name: Check In Britive Profile
        run: pybritive checkin default -P github-britive
